<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if site.title == blank %}{{ site.title }}{% else %}{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{% endif %}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">

<!-- Open Graph -->
{% if site.serve_og_meta %}
<meta property="og:site_name" content="{{ site.description }}" />
<meta property="og:type" content="object" />
<meta property="og:title" content="{{ site.name }}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ page.title }}" />
<meta property="og:image" content="{%- if page.og_image -%}{{ page.og_image }}{%- else -%}{{ site.og_image }}{%- endif -%}" />
{% endif %}

<!-- Bootstrap & MDB -->
<link defer rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/{{ site.bootstrap.version }}/css/bootstrap.min.css" integrity="{{ site.bootstrap.integrity.css }}" crossorigin="anonymous">
<link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/{{ site.mdb.version }}/css/mdb.min.css" integrity="{{ site.mdb.integrity.css }}" crossorigin="anonymous" />

<!-- Fonts & Icons -->
<link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.fontawesome.version }}/css/all.min.css"  integrity="{{ site.fontawesome.integrity }}" crossorigin="anonymous">
<link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/{{ site.academicons.version }}/css/academicons.min.css" integrity="{{ site.academicons.integrity }}" crossorigin="anonymous">

<!-- Styles -->
<link defer rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">

<!-- Roboto Font -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet"> -->
<!-- <link href="//db.onlinewebfonts.com/c/d31f4f2f5b5023ea302596ed13f60377?family=TschicholdBookExpertW90-Rg" rel="stylesheet" type="text/css"/> -->
<!-- https://www.onlinewebfonts.com/download/6a959741d543fc776c857062773193f4 -->
<!-- <link href="//db.onlinewebfonts.com/c/544da55955a950deb15d6a7536c4da34?family=Brandon+Grotesque+Regular" rel="stylesheet" type="text/css"/> -->
<!-- <link href="//db.onlinewebfonts.com/c/52f1df7d0f7d73b3b7ec794f38bc7091?family=OilChangeW01-Regular" rel="stylesheet" type="text/css"/> -->

<!-- Tschichold Fonts -->
<!-- <link href="//db.onlinewebfonts.com/c/c4f01b91b5e54b150299ee29ab984603?family=TschicholdW00-Regular" rel="stylesheet" type="text/css"/>
<link href="//db.onlinewebfonts.com/c/7ab4b136e3213a16429bd8e8cf0bae0c?family=TschicholdW00-Italic" rel="stylesheet" type="text/css"/> -->
<link href="//db.onlinewebfonts.com/c/3dd328e520e5f8e212a605cd30fd4237?family=TschicholdW00-Bold" rel="stylesheet" type="text/css"/>
<link href="//db.onlinewebfonts.com/c/6a959741d543fc776c857062773193f4?family=TschicholdBookW00-Regular" rel="stylesheet" type="text/css"/>
<!-- <link href="//db.onlinewebfonts.com/c/4be48a86a66fc499064a89f7977dcb60?family=TschicholdCondensedW00-Rg" rel="stylesheet" type="text/css"/> -->

<!-- <link href="//db.onlinewebfonts.com/c/abe04844b2e83db83784242186104266?family=NanukW00-Regular" rel="stylesheet" type="text/css"/> -->

<link rel="canonical" href="https://yoonholee.com/">