<div class="social">
  <span class="contacticon center">
    <a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope"></i></a>
    <a href="https://scholar.google.com/citations?user=BAAZ_ysAAAAJ" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
    <a href="https://github.com/yoonholee" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/yoonholee" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/yoonholeee" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
  </span>

  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>
