/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Always have margin at the bottom of the page.
.container.mt-5 {
  margin-bottom: 10rem;
}

// Typography
body {
  font-family: "Poppins", sans-serif;
  // font-family: "Roboto", sans-serif;
}

a,
table.table a {
  // color: $link-color;
  color: $theme-color-dark;

  &:hover {
    color: $text-color;
    text-decoration: underline;
    transition: none;
  }
}

// Math
.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption
.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Profile
.profile {
  width: 8em;
  margin-left: 1em;

  .address {
    font-family: monospace;
    font-size: 1.2rem;

    p {
      margin: 0;
    }
  }
}

// Navbar customization

.navbar.navbar-light {
  box-shadow: none;
  border-bottom: 1px solid $grey-color-light;
  opacity: 0.95;

  // Remove link decoration
  // a &:hover {
  //   text-decoration: none;
  // }


  .navbar-nav .nav-item .nav-link {
    &:hover {
      color: $theme-color-dark;
      transition: none;
    }
  }

  .navbar-nav .nav-item.active>.nav-link {
    background-color: inherit;
    color: $theme-color;
    font-weight: 500;

    &:hover {
      color: $theme-color;
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: $grey-color-dark;
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}

// News
.news {
  margin-top: 2.5rem;

  table {
    border-spacing: 0rem;

    td {
      font-size: 1rem;

      p {
        margin-bottom: 0.3rem;
      }
    }
  }

  table.table-sm th,
  table.table-sm td {
    padding: 0 0.3rem;
  }
}

// Social (bottom)
.social {
  margin-top: 1.5rem;
  text-align: center;

  .contact-icon {
    font-size: 3.5rem;

    a {
      color: $grey-color-dark;

      &:hover {
        color: $theme-color;
      }
    }
  }

  .contact-note {
    font-size: 0.85rem;
  }
}

// Blog
.post-list {
  padding: 0rem;

  li {
    border-bottom: 1.2px solid #dddddd;
    list-style: none;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    .post-meta {
      color: $grey-color;
      font-size: 1rem;
      margin-bottom: 0;
    }

    h4 {
      margin-bottom: 0;

      a {
        color: black;
        text-decoration: none;

        &:hover {
          color: $theme-color;
        }
      }
    }

    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }

    h4 .separator {
      color: #ccc;
    }
  }
}

.pagination .page-item.active .page-link {
  background-color: $theme-color;

  &:hover {
    background-color: $theme-color;
  }
}

// Distill
.post.distill {
  hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  a {
  color: $theme-color-dark;
  border-bottom: 0px;

  &:hover {
    color: $text-color;
    text-decoration: underline;
    transition: none;
    border-bottom: 0px;
  }
}
}

// Publications
.publications {
  margin-top: 1rem;

  h2.year {
    color: $grey-color;
    border-top: 1px solid $grey-color-light;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    .row {
      margin-bottom: 2rem; // distance between publications
      margin-top: 2rem; // distance between publications
    }

    li {
      margin-bottom: 1rem;

      .abbr {
        // space around publication badges.
        height: 1.5rem;
        margin-bottom: 0.1rem;
      }

      span {
        display: block;
      }

      .title {
        font-weight: bolder;
      }

      .author {
        a {
          border-bottom: 1px dashed $theme-color;

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }
        }

        >em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }

      em.star {
        border-bottom: none;
        color: $theme-color;
        font-style: normal;
      }

      a.abstract,
      a.bib {
        color: $link-color;
        cursor: pointer;

        &:hover {
          color: $text-color;
          text-decoration: underline;
        }
      }
    }
  }
}

// Collapsible Abstract
.publications .bibliography .publication-row {
  .abstract p {
    line-height: 1.4em;
    margin: 0.8em;
    font-size: 0.85rem;
    text-align: justify;
  }

  .bib pre {
    line-height: 1.4em;
    margin: 0.8em;
    font-size: 0.7rem;
    text-align: justify;
  }

  .abstract.hidden,
  .bib.hidden {
    max-height: 0; // hidden with zero height
    transition: all 0.5s ease-out;

    overflow: hidden;
    border-radius: 1rem;
    background-color: $theme-color-clear;
  }

  .abstract.hidden.open,
  .bib.hidden.open {
    max-height: 100em;
    transition-delay: 0.3s;
    transition: all 1s ease-in;
    padding: 0.3rem 0.6rem;
  }
}

// Badge
.publications ol.bibliography li .abbr .my-badge,
.my-badge {
  font-weight: 500;
  color: $white-color;
  background-color: $theme-color-dark;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  display: inline-block;
  box-shadow: 0.15rem 0.15rem 0.2rem #aaaaaa;
  padding: 0rem 0.8rem;
}